@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Color Constants */
:root {
    --main-primary: rgba(123, 2, 210, 0.615);
    --main-secondary: rgba(149, 36, 255, 0.818);
    --main-border: rgb(111, 11, 204);
    
    --action-button: rgb(30, 232, 73);
    --action-button-hover: rgb(60, 255, 100);
    --action-shadow: rgb(16, 130, 40);

    --action-acent: yellow;
    
    --white: #ffffff;
    --black-shadow: rgb(0, 0, 0);
    --white-shadow-hover: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para controlar mejor los tamaños y evitar márgenes inesperados */
}

html, body {
    height: 100%; /* Asegúrate de que html y body ocupen el 100% de la altura de la pantalla */
}

.container {
    background: linear-gradient(var(--main-primary), var(--main-primary)), url('img/cartasCaida.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Usar min-height en lugar de height para evitar el espacio en blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0; /* Elimina padding inferior */
}

.card {
    max-width: 400px;
    background-color: var(--main-secondary);
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    border: solid 3px var(--main-border);
    box-shadow: 0 0 25px 8px var(--black-shadow);
    position: relative; /* Asegura que la tarjeta esté bien posicionada */
}

.card button {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: var(--action-button);
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 3px var(--action-shadow);
}

.card button:hover {
    background-color: var(--action-button-hover);
    box-shadow: 0 0 15px 7px var(--white-shadow-hover);
    cursor: pointer;
    transform: scale(1.05);
}

.text-accent {
    color: var(--action-acent);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .container {
        height: auto;
        padding: 20px;
    }

    .card {
        max-width: 100%;
        padding: 20px;
        box-shadow: none;
    }

    .card img {
        width: 70%;
    }

    .card button {
        padding: 12px 20px;
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
